.about-container {   
    display: flex;
    justify-content: center;
}

.about-container .about-details {
    background-color: rgb(243, 243, 243);
    padding: 50px;
    margin: 5px;
    border-radius: 10px;
    align-items: center;
    max-width: 300px;
}