################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuildingAssociation/packages
/BuildingAssociation/Repositories/bin/Debug
/BuildingAssociation/Website/bin
/BuildingAssociation/Website/obj/Debug
/BuildingAssociation/.vs/*
/BuildingAssociation/Repositories/obj/*
/BuildingAssociation/Services/bin/*
/BuildingAssociation/Services/obj/*
/BuildingAssociation/client/node_modules/*
