################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuildingAssociation/packages
/BuildingAssociation/Repositories/bin/Debug
/BuildingAssociation/Website/bin
/BuildingAssociation/Website/obj/Debug
