<div class="jumbotron">
    <h1>Server: BuildingAssociation</h1>
    <p class="lead">by Bianca Morar</p>
    <p>@Html.ActionLink("Check the API docs", "Index", "Help", new { area = "" }, null)</p>
</div>
